<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head.ejs') %>
  <body>
     <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
