<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Shani</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/" class=""><h1>Blog Shani</h1> </a>
        <p>A Jashwanth Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
      <p>
        Accusam magna justo amet diam magna amet duo ipsum consetetur elitr, sit
        est amet lorem voluptua at, dolores et ipsum.
      </p>
    </div>
  </body>
</html>
