<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        I’m a self-taught Full Stack Web Developer and Flutter Enthusiast,
        currently working on designing and developing ReactJS-based
        applications. I have the experience of building web applications using
        Opencart, WordPress, Ghost & Jekyll, and responsive mobile-first sites
        with Bootstrap and Sass.
      </p>
      <p>🔭 I’m currently working on Flutter Based Web Application!</p>
      <p>🌱 I’m currently learning Flutter!</p>
      <p>
        🥅 My 2021-22 Goals: Contribute more to Open Source projects and Work
        more on Flutter Projects.
      </p>
      <p>
        👯 I’m looking to collaborate with Other Flutter Developers and Flutter
        Projects.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
