<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Shani</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/" class=""><h1>Blog Shani</h1> </a>
        <p>A Jashwanth Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="craete-blog content">
      <h2>Create blog</h2>
      <form action="" method="post">
        <label for="title">Blog Title:</label>
        <input type="text" name="" id="title" required />
        <label for="snippet">Blog Snippet:</label>
        <input type="text" name="" id="snippet" required />
        <label for="body">Blog Body:</label>
        <textarea name="" id="body" cols="30" rows="10"></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
